<!-- views/creators.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Include your head partial or add necessary meta tags -->
    <title>Choisir ses créateurs - Scalevision</title>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gradient-to-r from-white to-orange-50 font-montserrat">
    <% if (!user) { %>
        <!-- Visitor (not authenticated) -->
        <%- include('header-nonlogin') %>
      <% } else if (user.type === 'createur') { %>
        <!-- Authenticated, but type = "createur" -->
        <%- include('header-login') %>
      <% } else { %>
        <!-- Authenticated user, but not a creator -->
        <%- include('header-login-marque') %>
      <% } %>

    <!-- Main Container -->
    <div class="max-w-screen-xl mx-auto px-4">
        

        
        <!-- Filter Container on Top (removed the aside) -->
        <div class="p-4 rounded mb-2">
            <!-- Form starts here -->
            <form action="/creators" method="GET">
                <!-- Hidden fields to store selected filters -->
                <input type="hidden" name="categories" id="selected-categories" />
                <input type="hidden" name="videoTypes" id="selected-video-types" />
                <input type="hidden" name="countries" id="selected-countries-input" />
                <input type="hidden" name="langues" id="selected-langues-input" />
                <input type="hidden" name="atouts" id="selected-atouts-input" />
                <input type="hidden" name="genres" id="selected-genres-input" />
                <input type="hidden" name="ageMin" id="selected-age-min" />
                <input type="hidden" name="ageMax" id="selected-age-max" />

                <!-- Header with Rechercher and Filtrer button -->
                

                <!-- All Filters in a flexible row -->
                <div id="filters" class="flex flex-wrap rounded-md px-2 gap-4 justify-center">
                    
                    <!-- Genre Filter -->
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 mb-2 text-center">
                            Genre
                          </h3>
                        <div class="flex flex-wrap gap-2 justify-center">
                            <% genres.forEach(function(genre) { %>
                                <button 
                                    type="button" 
                                    class="filter-button font-semibold shadow-white-glow shadow-md px-3 py-1 bg-blue-500 text-white rounded-full hover:text-white hover:bg-blue-700 text-sm focus:outline-none"
                                    data-filter="<%= genre %>" 
                                    data-filter-type="Genre"
                                >
                                    <%= genre %>
                                
                            <% }); %>
                        </div>
                    </div>

                    

                    <!-- Age Selector -->
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 mb-2 text-center">
                            Âge
                          </h3>
                        <div class="flex items-center space-x-2 justify-center">
                            <input 
                                type="number" 
                                name="ageMin2" 
                                id="age-min" 
                                class="w-20 px-2 py-1 border rounded shadow-white-glow" 
                                placeholder="Min" 
                                min="0" 
                                max="100" 
                                value="0"
                            />
                            <span>-</span>
                            <input 
                                type="number" 
                                name="ageMax2" 
                                id="age-max" 
                                class="w-20 px-2 py-1 border rounded shadow-white-glow" 
                                placeholder="Max" 
                                min="0" 
                                max="99" 
                                value="99"
                            />
                        </div>
                    </div>

                    <!-- Pays Filter -->
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 mb-2 text-center">
                            Pays
                          </h3>
                        <div class="flex flex-wrap gap-2 justify-center">
                            <% countries.forEach(function(country) { %>
                                <button 
                                    type="button" 
                                    class="filter-button font-semibold shadow-white-glow px-3 py-1 bg-yellow-500 text-white rounded-full hover:text-white hover:bg-yellow-700 text-sm focus:outline-none"
                                    data-filter="<%= country %>" 
                                    data-filter-type="Country"
                                >
                                    <%= country %>
                                </button>
                            <% }); %>
                        </div>
                    </div>

                    <!-- Langue Filter -->
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 mb-2 text-center">
                            Langues
                          </h3>
                        <div class="flex flex-wrap gap-2 justify-center">
                            <% langues.forEach(function(langue) { %>
                                <button 
                                    type="button" 
                                    class="filter-button font-semibold shadow-white-glow px-3 py-1 bg-red-500 text-white rounded-full hover:text-white hover:bg-red-700 text-sm focus:outline-none"
                                    data-filter="<%= langue %>" 
                                    data-filter-type="Langue"
                                >
                                    <%= langue %>
                                </button>
                            <% }); %>
                        </div>
                    </div>
                    

                    <!-- Spécial Filter -->
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 mb-2 text-center">
                            Type de vidéo
                          </h3>
                        <div class="flex flex-wrap gap-2 justify-center">
                            <% atouts.forEach(function(atout) { %>
                                <button 
                                    type="button" 
                                    class="filter-button font-semibold shadow-white-glow px-3 py-1 bg-gray-500 text-white rounded-full hover:text-white hover:bg-gray-700 text-sm focus:outline-none"
                                    data-filter="<%= atout %>" 
                                    data-filter-type="Atout"
                                >
                                    <%= atout %>
                                </button>
                            <% }); %>
                        </div>
                    </div>
                    

                    <!-- Besoin Particulier -->
            

                </div>

                <div id="selected-filters-container" class="flex flex-wrap ml-10 mt-4 space-x-2">
                    <!-- Selected filters will be displayed here as bubbles -->
                </div> 
                <div class="flex justify-center mt-8 mb-4">
                    <button 
                      type="submit" 
                      class="rounded-full shadow bg-orange-500 hover:bg-orange-600 
                             text-white font-semibold px-6 py-2"
                    >
                      Filtrer
                    </button>
                </div>
                
            </form>
            
            <!-- Form ends here -->
        </div>

        <!-- Main Content -->
        <main>
            <!-- Removed the sticky top bar and selected-filters-container -->

            

            <h1 class="relative text-l text-black text-center font-semibold mb-8">
                <span class="relative inline-block px-4 py-1 mr-2">
                    <span class="absolute inset-0 bg-orange-500 rounded-lg transform -rotate-2 z-0 drop-shadow-lg"></span>
                    <span class="relative font-semibold text-l text-white z-10">
                        100% Gratuit
                    </span>
                </span>
                Contactez vos créateurs préférés !
            </h1>
            
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
                <% createurs.forEach((createur) => {
                    const isLiked = user && user.likedCreators && user.likedCreators.map(id => id.toString()).includes(createur._id.toString());
                    
                    const THREE_DAYS = 3 * 24 * 60 * 60 * 1000;
                    const createdTime = createur.createdAt ? createur.createdAt.getTime() : 0;
                    const isNew = (Date.now() - createdTime) < THREE_DAYS;
                %>
                <div class="relative">
                    <div 
                    class="creator-card transform transition duration-200 hover:scale-105 hover:rotate-1 rounded-lg shadow-[0_0_5px_rgba(0,0,0,0.3)] overflow-hidden relative shadow-white-glow"
                    data-creator-id="<%= createur._id %>"
                    style="background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);"
                  >
                    
                        <!-- Creator Image -->
                        <a href="/creators/<%= createur.pseudo %>"> 
                            <img 
                                src="<%= createur.portfolioImages %>" 
                                alt="<%= createur.name %>" 
                                class="w-full h-32 object-cover"
                            >
                        </a>
                
                        <!-- Portfolio Bubbles -->
                        <div class="flex justify-center -mt-8">
                            <div class="bg-white p-1 rounded-full mx-1 shadow-lg">
                                <img
                                    src="<%= createur.profileImage %>"
                                    alt="Portfolio Image"
                                    class="h-16 w-16 rounded-full object-cover portfolio-image"
                                    data-image-url="<%= createur.profileImage %>"
                                    tabindex="0"
                                    loading="lazy"
                                >
                            </div>
                        </div>
                
                        <!-- Creator Info -->
                        <div class="p-2 -mt-8">
                            <!-- Creator Name and Add to Basket Button -->
                            <div class="flex items-center justify-between mb-2">
                                <!-- Creator Name -->
                                <h3 class="text-lg font-semibold text-black">
                                    <%= createur.pseudo %>
                                </h3>

                              
                            
                                <% if (isLiked) { %>
                                    <!-- If the creator is already liked, show the 'unlike' form + full heart -->
                                    <form action="/unlike/<%= createur._id %>" method="POST">
                                      <button 
                                        type="submit" 
                                        class="flex items-center text-sm px-2 py-1 font-medium transition duration-200 text-black focus:outline-none"
                                      >
                                        <img 
                                          src="/images/coeurfull.png"    
                                          alt="Retirer des favoris" 
                                          class="w-6 h-6"
                                        >
                                      </button>
                                    </form>
                                  <% } else { %>
                                    <!-- If not liked, show the 'like' form + empty heart -->
                                    <form action="/like/<%= createur._id %>" method="POST">
                                      <button 
                                        type="submit" 
                                        class="flex items-center text-sm px-2 py-1 font-medium transition duration-200 text-black focus:outline-none"
                                      >
                                        <img 
                                          src="/images/coeurvide.png"  
                                          alt="Ajouter aux favoris" 
                                          class="w-6 h-6"
                                        >
                                      </button>
                                    </form>
                                  <% } %>
                            </div>
                            
                            <!-- Creator Age -->
                            <p class="flex flex-wrap items-center mb-2 text-gray-600 text-sm">
                                <img src="/images/11.png" alt="Âge" class="w-5 h-5 mr-2">
                                <%= createur.age %> ans
                            </p>
                    
                            <!-- Creator Country -->
                            <div class="flex flex-wrap items-center gap-2 mb-2">
                                <img src="/images/mondeblue.png" alt="Âge" class="w-5 h-5 mt-1">
                                <span class="px-2 py-1 bg-blue-100 text-blue-500 text-xs rounded-full">
                                    <%= createur.country %>
                                </span>
                            </div>
                    
                            <!-- Video Types and 'Voir' Button -->
                            <div class="flex items-center justify-between mb-2">
                                <div class="flex flex-wrap gap-2">
                                    <img src="/images/camvert.png" alt="Âge" class="w-5 h-5 mt-1">
                                    <% createur.atout.slice(0, 2).forEach(function(atout) { %>
                                      <span class="px-2 py-1 bg-orange-100 text-orange-500 text-xs rounded-full">
                                        <%= atout %>
                                      </span>
                                    <% }); %>
                                  </div>
                            
                                <div class="flex">
                                    <a 
                                        href="/creators/<%= createur.pseudo %>" 
                                        class="flex-inline bg-white shadow-md hover:bg-orange-500 text-black hover:text-white font-bold py-1 px-4 rounded"
                                    >
                                        Voir
                                    </a>
                                </div>
                            </div>
                            <h1 class="relative text-xs text-black text-center font-semibold">
                                Contact disponible
                            </h1>
                            <div class="flex items-center space-x-2 ml-28">
                                <!-- Show email icon if creator.email is defined and not empty -->
                                <% if (createur.email && createur.showemail) { %>
                                  <img 
                                    src="/images/email.png"       
                                    alt="Email disponible" 
                                    class="w-5 h-5" 
                                    title="Email disponible"
                                  >
                                <% } %>
                              
                                <!-- Show phone icon if creator.number is defined and not empty -->
                                <% if (createur.number && createur.shownum) { %>
                                  <img 
                                    src="/images/phone.png"      
                                    alt="Téléphone disponible" 
                                    class="w-5 h-5" 
                                    title="Téléphone disponible"
                                  >
                                <% } %>
                              
                                <!-- Show Instagram icon if creator.insta is defined and not empty -->
                                <% if (createur.insta) { %>
                                  <img 
                                    src="/images/instagram.png"   
                                    alt="Instagram disponible" 
                                    class="w-5 h-5" 
                                    title="Instagram disponible"
                                  >
                                <% } %>
                              </div>
                        </div>
                    </div>
                    <% if (isNew) { %>
                        <div class="absolute -top-3 -right-3 px-3 py-3 w-10 h-10 bg-blue-500 text-white flex items-center justify-center 
                         text-xs font-semibold rounded-full animate-pulse z-30">
                        New
                        </div>
                    <% } %>
                </div>
                
            <% }); %>
            
            
            </div>
        </main>
    </div>
    

    <script src="js/filters.js"></script>
    <!-- Meta Pixel Code -->
    

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/js/app.js"></script> 
    
    <!-- End Meta Pixel Code -->
</body>
<%- include('footer') %>
</html>
