<!-- views/creators.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Include your head partial or add necessary meta tags -->
    <title>Choisir ses créateurs - Scalevision</title>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gray-50 font-montserrat">
    <%- include('header-nonlogin') %>
    <!-- Main Container -->
    <div class="flex min-h-screen">
        
        
        <!-- Main Content -->
        <main class="w-full">
            <div class="sticky top-[4rem] z-20 bg-white p-3 border-b border-gray-300">
                <div id="selected-filters-container" class="flex flex-wrap space-x-2">
                    <!-- Selected filters will be displayed here as bubbles -->
                </div>
                
                <h1 class="relative text-l text-blue-950 font-semibold">
                  <span class="relative inline-block px-4 py-1 mr-2">
                    
                    <!-- Background span with white color, rounded corners, and rotation -->
                    <span class="absolute inset-0 bg-blue-500 rounded-lg transform -rotate-2 z-0 drop-shadow-lg"></span>
                    
                    <!-- Text span positioned above the background -->
                    <span class="relative font-semibold text-l text-white z-10">
                    Nos créateurs</span>
                    
                </span>
                
                  <img src="/images/bas2.png" alt="Account Icon" class="inline-block w-8" style="vertical-align: middle">
                
                </h1>
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 p-3 overflow-y-auto">
                <% creators.forEach(function(creator) { %>
                  <div class="creator-card transform hover:scale-103 hover:rotate-1 bg-white hover:bg-gray-50 rounded-lg shadow-md overflow-hidden relative" data-creator-id="<%= creator._id %>">
                    <!-- Creator Image -->
                    <a href="/creators/<%= creator._id %>"> 
                        <img src="<%= creator.portfolioImages %>" alt="<%= creator.name %>" class="w-full h-48 object-cover">
                    </a>
              
                    <!-- Portfolio Bubbles -->
                    <div class="flex justify-center -mt-8">
                      
                        <div class="bg-white p-1 rounded-full mx-1 shadow-lg">
                          <img
                            src="<%= creator.profileImage %>"
                            alt="Portfolio Image"
                            class="h-16 w-16 rounded-full object-cover portfolio-image"
                            data-image-url="<%= creator.profileImage %>"
                            tabindex="0"
                            loading="lazy"
                          >
                        </div>
                      
                    </div>
              
                    <!-- Creator Info -->
                    <div class="p-2 -mt-8">
                      <!-- Creator Name and Add to Basket Button -->
                      <div class="flex items-center justify-between mb-2">
                        <!-- Creator Name -->
                        <h3 class="text-lg font-semibold text-blue-950"><%= creator.name %></h3>
                    
                        
                        <!-- <form action="/add-to-campaign" method="POST">
                          <input type="hidden" name="creatorId" value="<%= creator._id %>">
                          <button type="submit" class="flex items-center text-sm px-2 py-1 font-medium transition duration-200 text-blue-950 focus:outline-none">
                            <img src="/images/panier.png" alt="Ajouter au panier" class="w-6 h-6">
                          </button>
                        </form> -->
                      </div>
                    
                      <!-- Creator Age -->
                      <p class="flex flex-wrap items-center mb-2 text-gray-600 text-sm"><img src="/images/11.png" alt="Âge" class="w-5 h-5 mr-2"><%= creator.age %> ans</p>
              
                      <!-- Creator Country -->
                      <div class="flex flex-wrap items-center gap-2 mb-2"><img src="/images/mondeblue.png" alt="Âge" class="w-5 h-5 mt-1">
                        <span class="px-2 py-1 bg-blue-100 text-blue-500 text-xs rounded-full"><%= creator.country %></span>
                      </div>
              
                      <!-- Video Types and Add to Basket Button -->
                      <div class="flex items-center justify-between mb-2">
                        <div class="flex flex-wrap gap-2"><img src="/images/camvert.png" alt="Âge" class="w-5 h-5 mt-1">
                          <% creator.videoTypes.forEach(function(type) { %>
                            <span class="px-2 py-1 bg-green-100 text-green-500 text-xs rounded-full"><%= type %></span>
                          <% }); %>
                        </div>
                      
                        <!-- "Voir" Button -->
                        <div class="flex">
                          <a href="/kreators/<%= creator._id %>" class="flex-inline bg-white shadow-md hover:bg-blue-950 text-blue-950 hover:text-white font-bold py-1 px-4 rounded">
                            Voir
                          </a>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                
                <% }); %>
              </div>
               
        </main>
    </div>

    <script src="js/filters.js"></script>
    
</body>
</html>
